<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://github.com/themes/minimal/stylesheets/styles.css" media="screen">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
	<h1 class="title"><a href="/">{{ site.name }}</a></h1>

	<!--<h3>Small heading 1</h3> -->
	<!--<p class="view"><a href="">Description<small>mini discription</small></a></p>-->
	<!--<h3>Small headint 2</h3>-->
	<!--<p class="view"><a href="">Description<small>mini discription</small></a></p>-->

	<p class="view"><a href="/">About <small>Who am I</small></a></p>
	<p class="view"><a href="/posts">Posts <small>Where I crib/scribble</small></a></p>
	<p class="view"><a href="/projects">Projects <small>Open and not so open</small></a></p>
	<p class="view"><a href="/resume">Resume <small>The technical details</small></a></p>
	<p class="view"><a href="/education">Education <small>The culprits</small></a></p>
	<p class="view"><a href="https://github.com/aerohit" target="tab">GitHub<small>Where I embarrass myself</small></a></p>

      </header>

      <section id="main">

	{{ content }}

      </section>

      <footer>
	<p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash;
	  Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
	</p>
      </footer>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
	try {
	  var pageTracker = _gat._getTracker("UA-1620236-1");
	  pageTracker._trackPageview();
	} catch(err) {}</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
      <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->

  </body>
</html>
