<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://github.com/themes/minimal/stylesheets/styles.css" media="screen">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="https://github.com/themes/minimal/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
	<h1 class="title"><a href="/">{{ site.name }}</a></h1>

	<!--<h3>Small heading 1</h3> -->
	<!--<p class="view"><a href="">Description<small>mini discription</small></a></p>-->
	<!--<h3>Small headint 2</h3>-->
	<!--<p class="view"><a href="">Description<small>mini discription</small></a></p>-->

	<p class="view"><a href="/">About <small>Who am I</small></a></p>
	<p class="view"><a href="/scribbles">Scribbles <small>Where I crib</small></a></p>
	<p class="view"><a href="/projects">Projects <small>Open and not so open</small></a></p>
	<p class="view"><a href="/resume">Resume <small>The technical details</small></a></p>
	<p class="view"><a href="/education">Education <small>The culprits</small></a></p>
	<p class="view"><a href="https://github.com/aerohit" target="tab">GitHub<small>Where I embarrass myself</small></a></p>

      </header>

      <section id="main">

	{{ content }}

      </section>

      <footer>
      <p><small>
	Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash;
	Theme by <a href="https://github.com/orderedlist">orderedlist</a>
      </small></p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
      <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-907966-2', 'aerohit.github.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>
